{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td align="left" valign="middle" class="menu_title menu_title">
                Оформление заказа
            </td>
        </tr>
    </table>

    <div class="page">
        <h2 style="text-align: center">Спасибо! Ваш заказ принят, менеджер свяжется с Вами в ближайшее время!</h2>

        <p class="p">Заказы обрабатываются по рабочим дням с 10 до 19 часов. Время доставки оговаривается с менеджером дополнительно, исходя из пожеланий клиента. Подробнее об условиях доставки и сборки наших тренажеров вы можете прочитать <a href="service.php">здесь</a>.</p>
        <p class="p">Любые вопросы по состоянию вашего заказа можно задать в рабочее время по телефону <b>(495) 506-13-83</b>.</p>
    </div>
{% endblock %}
