body {
	margin: 0px;
	padding: 0px;
	background-image: url( '/image/bg.gif' );
	background-color: #e1e1e1;
	background-attachment: scroll;
	background-repeat: repeat-x;
}

p, h1, h2, h3, a, li, td, input, select, label, textarea, span, div {
	color: #103B59;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

p, h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

p.c {
	text-align: center;
}

p.r {
	text-align: right;
}


h1, h2, p.p {
	margin-bottom: 5px;
	text-indent: 40px;
}
p.p {
	text-align: justify;
}

h1 {
	font-size: 12px;
	color: #ff5a00;
	margin-bottom: 20px;
}

h2 {
	font-size: 11px;
	color: #ff5a00;
	font-weight: bold;
	margin-bottom: 20px;
}

h3 {
	text-align: left;
	color: #ff5a00;
	font-weight: bold;
	margin-bottom: 5px;
}

a {
	color: #ff5a00;
}

a.path {
	color: #ffffff;
	text-decoration: none;
}
a.path:hover {
	color: #103B59;
	text-decoration: underline;
}

img {
	border: none;
}

img.product {
	border: 1px solid #103B59;
}

ul, ol {
	text-align: left;
}

form {
	margin: 0px;
	padding: 0px;
}

td.menu_title {
	height: 20px;
	color: #ffffff;
	font-weight: bold;
	padding-left: 5px;
}
td.menu_title {
	background-color: #EA6B48;
}
td.menu_title_red {
	background-color: #EA6B48;
	border-bottom: 1px solid #ffffff;
}
td.menu_title_blue {
	background-color: #6B749F;
	border-bottom: 1px solid #ffffff;
}
td.menu_item {
	height: 24px;
	padding-left: 14px;
	cursor: pointer;
	border-bottom: 1px solid #ffffff;
	background-color: #e5e5e5;
	background-repeat: no-repeat;
	background-position: top left;
}
td.menu_item_red {
	background-image: url( '/image/ml_red.gif' );
}
td.menu_item_blue {
	background-image: url( '/image/ml_blue.gif' );
}
td.menu_item_sub {
	padding-left: 28px;
	background-image: none;
}
td.menu_item_search {
	cursor: default;
	background-color: #e1e1e1;
}
td.menu_item_selected {
	background-color: #f0f0f0;
}
td.menu_separator {
	height: 5px;
}
td.menu_separator_red {
	background-color: #EA6B48;
}
td.menu_separator_blue {
	background-color: #6B749F;
}
td.menu_empty {
	height: 5px;
}

td.menu_item a, a.footer, a.price {
	color: #103B59;
	text-decoration: none;
}
td.menu_item a:hover, a.footer:hover, a.price:hover {
	color: #ff5a00;
	text-decoration: underline;
}

td.bottom_line {
	height: 5px;
	background-color: #8990B2;
}
td.bottom {
	height: 50px;
	background-image: url( '/image/bg_bottom.gif' );
	background-color: #E1E1E1;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: bottom;
}

td.decor {
	padding: 10px;
	border: 1px solid #103B59;
}

div.page {
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #103B59;
}

input.text {
	height: 20px;
	margin: 0px; padding: 0px;
	border: 1px solid #bbbbbb;
}

input.button {
	color: #ffffff;
	width: 120px; height: 20px;
	margin: 0px; padding: 0px;
	border: 1px solid #bbbbbb;
	background-color: #6B749F;
}

input.basket {
	border: none;
	
	text-align: right;
	
	height: 18px;
	width: 90%;
	
	padding: 2px 0px 0px 0px;
	margin: 0px;
	
	background-color: #e1e1e1;
}

textarea {
	border: 1px solid #bbbbbb;
}

span.require {
	color: #ff6666;
}

p.setlinks, p.setlinks a {
	margin: 5px;
	font-size: 10px;
	text-align: center;
}
